body {
    background-color: red;
}
.container {
   display: flex;
   justify-content: center ;
   gap: 50px;
   
}
.card {
    width: 16rem;
    height: 360px;
    border-radius: 12px;
    box-shadow: 3px 2px 2px #00000066;
    overflow: hidden;
    margin: 16px;
    border: 1px;
    background-color: coral;
}
.card img {
    width: 100%;
    height: 200px;
    display: block;
    background-color: aquamarine;
}
.card:hover{
  background-color: orangered;
}

         .btn-grad {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            padding: 1px;
          }
.iklan {
    width: 32rem;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #00000066;
    overflow: hidden;
    margin: 16px;
    border: 1px;
}
.iklan img {
    width: 100%;
    height: 300px;
    display: block;
}
.category {
    width: 4rem;
    box-shadow: 1px 1px 2px #00000066;
    overflow: hidden;
    margin: 16px;
    border-radius: 100%;
}
.category img {
    width: 100%;
    height: 70px;
    display: block;
}
         